.error-message {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--error-red);
  font-weight: 500;
  align-self: center;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;

  &.active {
    height: 24px;
  }
}