.subject-dropdown {
  display: flex;
  flex-direction: column;

  width: 300px;

  cursor: pointer;

  height: 50px;
  overflow: hidden;

  transition: all 0.5s;

  .dropdown-button {
    width: 300px;
    height: 50px;
    min-height: 50px;

    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    span {
      max-width: 280px;
      font-size: 20px;
      font-weight: 500;

      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .new-subject-button {
    gap: 8px;
    cursor: pointer;
    color: var(--grayscale-400);
    border: 4px dashed var(--grayscale-400);

    &:hover {
      background-color: var(--hover-white);
    }
  }

  .dropdown-options {
    height: calc(100vh - var(--navigation-menu-height) - 100px);
    padding-bottom: calc((100vh - var(--navigation-menu-height) - 100px) * 0.5);
    
    display: flex;
    flex-direction: column;

    width: 300px;

    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .dropdown-option {
      width: 300px;
      height: 50px;
      min-height: 50px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 10px;

      span {
        max-width: 280px;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      border-bottom: 1px solid var(--hover-white);

      cursor: pointer;

      .dropdown-option-ellipsis-menu-button {
        display: none;
      }

      &:hover {
        background-color: var(--hover-white);
        
        .dropdown-option-ellipsis-menu-button {
          display: initial;
        }
      }

      &.active {
        background-color: var(--grayscale-900);
        color: var(--grayscale-100);
      }
    }
  }

  &.dropdown-open {
    height: calc(100vh - var(--navigation-menu-height));
  }
}