.forgotten-password-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;

  .habitator-heading {
    font-size: 64px;
    margin-top: 48px;
  }

  .forgotten-password-window {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 400px;
    height: fit-content;

    padding: 32px;

    box-shadow: 1px 1px 16px 5px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 1px 1px 16px 5px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 1px 16px 5px rgba(0, 0, 0, 0.31);

    border: 1px solid black;
    border-radius: 4px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;

      .forgotten-password-input {
        display: flex;
        flex-direction: column;
        gap: 4px;

        input {
          padding: 8px;
          border-radius: 8px;
          border: 1px solid black;
        }

        label {
          font-weight: 500;
        }
      }

      .forgotten-password-other-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
          color: black;

          &:hover {
            color: #202020;
          }
        }
      }

      .error-message {
        color: red;
        font-weight: 500;
        align-self: center;
      }

      .forgotten-password-submit {
        display: flex;
        flex-direction: row;
        justify-content: right;

        margin-top: 16px;

        .get-new-password-button {
          width: 100%;
          border: none;
          color: white;
          font-weight: 500;
          background-color: black;

          &:hover {
            background-color: #202020;
            box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
          }
        }
      }
    }
  }
}