.blog-post {
  display: flex;
  flex-direction: row;

  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);  
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);

  border-radius: 16px;
  overflow: hidden;

  width: fit-content;

  background-color: var(--grayscale-100);

  &.no-comments {
    max-width: 800px;
  }

  .blog-post-main {
    box-sizing: border-box;
    min-width: 500px;
    width: 500px;
    min-height: 300px;
    height: fit-content;

    &.border-right-grey {
      border-right: 1px solid var(--grayscale-200);
    }

    .blog-post-header {
      border-bottom: 1px solid var(--grayscale-200);
      padding: 16px 16px 8px 16px;

      .blog-info {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;

        .user-name-and-post-time {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
        }

        .blog-post-buttons {
          display: flex;
          flex-direction: row;
          gap: 8px;
          width: fit-content;
        }
      }
    }

    .blog-post-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
      padding: 8px 16px 16px 16px;

      .post-image-wrapper {
        display: flex;
        justify-content: center;

        .post-image {
          width: auto;
          max-width: 100%;
          max-height: 60vh;

          border-radius: 8px;

          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
          -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
          -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
        }
      }
      
    }
  }

  .blog-post-comments {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 100%;
    box-sizing: border-box;

    transition: width 0.3s;
    overflow: hidden;

    &.comments-hidden {
      width: 0;
    }

    .comments-header {
      border-bottom: 1px solid var(--grayscale-200);
      width: 300px;
      height: 3rem;
      padding: 8px;

      display: flex;
      flex-direction: row;
      gap: 8px;

      align-items: center;

      .h3 {
        margin-bottom: 0!important;
      }

      .comment-icon {
        height: 1.5rem;
        width: auto;
        color: var(--grayscale-900)
      }
    }

    .comments {
      height: 100%;
      padding: 8px;

      overflow: auto;

      display: flex;
      flex-direction: column;
      gap: 8px;

      width: 300px;
    }

    .comment-input-wrapper {
      height: 3rem;
      border-top: 1px solid  var(--grayscale-200);
      padding: 8px;
      width: 300px;
      display: flex;
      flex-direction: row;

      .comment-input {
        width: 100%;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid var(--grayscale-300);
        border-right: none;
        padding: 8px
      }

      .submit-comment {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border: none;
        border-left: none;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grayscale-900);

        .submit-icon {
          color: var(--grayscale-100)
        }
      }
    }
  }
}