.comment-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid black;

  &:hover {
    background-color: #dedede;
  }

  &.active {
    background-color: black;
    color: white;

    &:hover {
      background-color: #202020;
    }
  }
}