.my-blog {
  padding: 32px;

  .my-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .new-post-wrapper {
      .new-blog-post {
        display: flex;
        flex-direction: column;
        gap: 16px;

        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);  
        -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);

        border-radius: 16px;

        width: 500px;
        max-width: 800px;

        padding: 32px;
        box-sizing: border-box;

        .new-post-input {
          display: flex;
          flex-direction: column;
          gap: 4px;

          label {
            font-weight: 500;
          }

          input,
          textarea {
            min-width: 100%;
            max-width: 100%;
            padding: 8px;
            border-radius: 8px;
            border: 1px solid var(--grayscale-200);
          }

          #post-image-input {
            padding: 10px;
            background-color: var(--grayscale-100);
            border: 1px solid var(--grayscale-900);
            border-radius: 5px;
            color: var(--grayscale-900);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              background-color: var(--grayscale-200);
              border-color: var(--grayscale-300);
            }

            &:focus {
              border-color: var(--grayscale-200);
              box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
            }
          }
        }

        .submit-post-button {
          border: none;
          color: var(--grayscale-100);
          background-color: var(--grayscale-900);
          font-weight: 500;

          &:hover {
            background-color: var(--hover-black);
            box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
          }
        }
      }
    }

    .old-posts {
      display: flex;
      flex-direction: column;
      gap: 16px;

      align-items: center;

      .no-posts {
        font-size: 20px;
        font-weight: 500;
      }
    }

    hr {
      width: 100%;
      border-color: var(--grayscale-100);
    }
  }
}