.edit-button {
  width: 44px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  border: none;

  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);

  &:hover {
    background-color: var(--hover-white);
  }
}

.edit-blog-post {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .edit-post-input {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      font-weight: 500;
    }

    #post-image-input {
      padding: 10px;
      background-color: var(--grayscale-100);
      border: 1px solid var(--grayscale-900);
      border-radius: 5px;
      color: var(--grayscale-900);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--grayscale-200);
        border-color: var(--grayscale-300);
      }

      &:focus {
        border-color: var(--grayscale-300);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
