.friend-button {
  width: 100%;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;

  &.accept {
    background-color: #002975;

    &:hover {
      background-color: #112A5A;
      box-shadow: 0px 0px 11px -4px rgba(17,42,90,0.75);
      -webkit-box-shadow: 0px 0px 11px -4px rgba(17,42,90,0.75);
      -moz-box-shadow: 0px 0px 11px -4px rgba(17,42,90,0.75);
    }
  }

  &.remove-suggestion, &.remove-request, &.remove-my-request {
    background-color: #000;

    &:hover {
      background-color: #202020;
      box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
    }
  }

  &.request {
    background-color: #1D6BB9;

    &:hover {
      background-color: #2F8EED;
      box-shadow: 0px 0px 11px -4px rgba(47,142,237,0.75);
      -webkit-box-shadow: 0px 0px 11px -4px rgba(47,142,237,0.75);
      -moz-box-shadow: 0px 0px 11px -4px rgba(47,142,237,0.75);
    }
  }

  &.remove-friend {
    background-color: #000;

    &:hover {
      background-color: #202020;
      box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
    }
  }
}