.layout {
  min-height: 100vh;

  display: grid;
  grid-template-rows: var(--navigation-menu-height) 1fr;

  .outlet {
    height: calc(100vh - var(--navigation-menu-height));

    overflow-y: auto;
    overflow-x: hidden;
  }
}