.materials-window {
  padding: 32px;

  .h1 {
    text-align: center;
  }

  .my-materials {
    display: grid;

    @media (min-width: 961px) {
      grid-template-columns: repeat(4, 200px);
    }
    
    @media (max-width: 960px) {
      grid-template-columns: repeat(auto-fill, 200px);
    }
    
    gap: 16px;

    padding: 16px;

    justify-content: center;

    .material-button {
      display: flex;
      flex-direction: column;

      aspect-ratio: 1/1;
      border-radius: 8px;

      box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
      -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
      -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);

      overflow: hidden;

      header {
        height: 32px;
        width: 100%;

        display: flex;
        justify-content: flex-end;

        background-color: var(--grayscale-900);
        color: var(--grayscale-100);

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;
      }

      .material-button-body {
        height: calc(100% - 32px);
        max-height: calc(100% - 32px);
        width: 100%;

        cursor: pointer;

        &:hover main {
          background-color: var(--hover-white);
        }

        main {
          height: 136px;
          max-height: 136px;
          width: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          padding: 8px;

          font-weight: 500;

          span {
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .material-button-footer {
          height: 32px;
          width: 100%;

          display: flex;
          justify-content: space-between;

          background-color: var(--grayscale-900);
          color: var(--grayscale-100);

          padding: 0 4px;

          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          overflow: hidden;

          span {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .add-material-button {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 8px;

      aspect-ratio: 1/1;
      border: 1px dashed var(--grayscale-300);
      border-radius: 8px;

      background-color: var(--grayscale-100);
      font-weight: 500;

      box-shadow: 1px 1px 8px 1px rgb(245,245,245);
      -webkit-box-shadow: 1px 1px 8px 1px rgb(245,245,245);
      -moz-box-shadow: 1px 1px 8px 1px rgb(245,245,245);

      &:hover {
        border-color: var(--grayscale-400);
        background-color: var(--hover-white);

        box-shadow: 1px 1px 8px 1px 	rgb(211,211,211);
        -webkit-box-shadow: 1px 1px 8px 1px 	rgb(211,211,211);
        -moz-box-shadow: 1px 1px 8px 1px 	rgb(211,211,211);

        .edit-icon {
          color: var(--grayscale-400)
        }
      }
    }
  }

  .new-material-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    .new-material-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;
  
      label {
        font-weight: 500;
      }
    }
  }
}