.new-book-analysis {
  display: flex;
  flex-direction: column;
  align-items: center;

  .new-book-analysis-form {
    width: 100%;
    max-width: 800px;
    padding: 32px;

    .book-meta-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .book-analysis-form {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .fiction-text-analysis {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .part {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }

      .literary-historical-context {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}