.forgotten-password-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .forgotten-password-window {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 400px;
    height: fit-content;

    border: 1px solid gray;
    border-radius: 4px;

    padding: 16px;

    form {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 8px;

      .forgotten-password-input {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .forgotten-password-other-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .forgotten-password-submit {
        display: flex;
        flex-direction: row;
        justify-content: right;

        margin-top: 16px;
      }
    }
  }
}