.user-profile {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;

  padding: 32px;

  hr {
    width: 100%;
  }

  .user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 600px;
    height: 600px;

    padding: 32px;
    border-radius: 16px;

    box-shadow: 10px 10px 30px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 30px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 30px 6px rgba(0, 0, 0, 0.3);
  }

  .no-user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;
    height: 600px;

    padding: 32px;
    border-radius: 16px;

    box-shadow: 10px 10px 30px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 30px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 30px 6px rgba(0, 0, 0, 0.3);

    .no-user-content {
      display: flex;
      align-items: center;
      flex-grow: 1;

      .no-user-questionmark {
        font-size: 300px;
        font-weight: 600;

        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */

        width: 420px;
        height: 420px;
        text-align: center;

        border-radius: 100%;

        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
        -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
      }
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 90%;

    .h1 {
      text-align: center;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }

    .user-info-fields-wrapper {
      max-width: 100%;

      display: flex;
      flex-direction: column;
      gap: 16px;

      .user-info-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
        flex-grow: 1;

        span {
          text-wrap: nowrap;

          &.info {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
          }

          &.label {
            font-weight: 500;
            font-size: 18px;
          }
        }
      }
    }

    .friendship-status-buttons {
      width: 100%;
      display: flex;
      gap: 8px;

      .friendship-status-button {
        width: 100%;
        height: 48px;

        font-weight: 500;
      }
    }
  }

  .user-posts {
    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: center;

    .no-posts {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .user-materials {
    .user-materials-windows {
      width: 100%;
      display: grid;

      @media (min-width: 961px) {
        grid-template-columns: repeat(4, 200px);
      }

      @media (max-width: 960px) {
        grid-template-columns: repeat(auto-fill, 200px);
      }

      gap: 16px;

      padding: 16px;

      justify-content: center;

      .material-button {
        display: flex;
        flex-direction: column;

        aspect-ratio: 1/1;
        border-radius: 8px;

        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
        -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.31);

        overflow: hidden;

        .material-button-header {
          height: 32px;
          width: 100%;

          display: flex;
          justify-content: space-between;
          gap: 8px;

          padding: 8px;

          background-color: var(--grayscale-900);
          color: var(--grayscale-100);

          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          overflow: hidden;

          span {
            display: flex;
            align-items: center;
          }
        }

        .material-button-body {
          height: calc(100% - 32px);
          max-height: calc(100% - 32px);
          width: 100%;

          main {
            height: 136px;
            max-height: 136px;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 8px;

            font-weight: 500;

            cursor: pointer;

            span {
              text-wrap: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &:hover {
              background-color: var(--hover-white);
            }
          }

          .material-button-footer {
            display: flex;
            align-items: center;

            height: 32px;
            width: 100%;

            display: flex;
            justify-content: space-between;

            padding: 0 8px;

            border-top: 1px solid var(--grayscale-200);

            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            overflow: hidden;
          }
        }
      }
    }

    .no-materials {
      font-size: 20px;
      font-weight: 500;
    }
  }
}