.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 600px;
    height: 600px;

    padding: 32px;
    border-radius: 16px;

    box-shadow: 10px 10px 30px 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 10px 30px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 30px 6px rgba(0,0,0,0.3);
  }

  .user-info {
    display: flex;
    flex-direction: column;

    width: 90%;

    .h1 {
      text-align: center;
    }

    .user-info-fields-wrapper {
      display: flex;
      flex-direction: row;

      .user-info-field {
        flex-grow: 1;

        hr {
          width: 100%;
        }
      }
    }
  }

  .account-operations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    width: 90%;

    button {
      width: 50%;
      height: 48px;
      min-width: fit-content;
      border: none;
      background-color: var(--grayscale-900);
      color: var(--grayscale-100);
      font-weight: 500;

      box-shadow: 0px 0px 101px -33px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 0px 101px -33px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 101px -33px rgba(0,0,0,0.75);

      &:hover {
        background-color: var(--hover-black);
        box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
      }
    }
  }
}

.new-password-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .password-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      font-weight: 500;
    }
  }
}

.new-profile-picture {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .profile-picture-upload-label {
    font-size: calc(1.375rem + 1.5vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  #profile-picture-upload-input {
    padding: 10px;
    background-color: var(--grayscale-100);
    border: 1px solid var(--grayscale-900);
    border-radius: 5px;
    color: var(--grayscale-900);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;

    &:hover {
      background-color: var(--grayscale-200);
      border-color: var(--grayscale-300);
    }

    &:focus {
      border-color: var(--grayscale-300);
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    }
  }

  .uploaded-image-name {
    text-align: center;
  }
}