.new-password-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .password-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      font-weight: 500;
    }
  }
}