.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 56px;
  max-height: 56px;
  background-color: black;

  padding: 0 16px;
  position: sticky;
  top: 0;

  .navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    align-items: center;

    .navbar-heading {
      font-size: 24px;
      font-weight: 500;
    }

    .link {
      color: white;
      text-decoration: none;

      &:hover {
        color: #dedede;
      }
    }
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 16px;
    
    .logout {
      text-decoration: none;
      color: white;

      &:hover {
        color: #dedede;
      }
    }
  }
}