.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 56px;
  max-height: 56px;
  background-color: black;

  padding: 0 16px;
  position: sticky;
  top: 0;

  .navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;

    .mathub-logo {
      height: 40px;
      width: 40px;
      border-radius: 100%;

      pointer-events: all;
      cursor: pointer;

      &:hover {
        box-shadow: 1px 1px 8px 1px rgb(245,245,245);
        -webkit-box-shadow: 1px 1px 8px 1px rgb(245,245,245);
        -moz-box-shadow: 1px 1px 8px 1px rgb(245,245,245);
      }
    }

    .navbar-heading {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      cursor: pointer;
    }

    .link {
      color: white;
      text-decoration: none;
      font-weight: 500;

      user-select: none;

      &:hover {
        color: #dedede;
      }
    }
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    
    .logout {
      text-decoration: none;
      color: white;
      font-weight: 500;

      user-select: none;

      &:hover {
        color: #dedede;
      }
    }

    .profile-badge {
      border-radius: 100%;

      &:hover {
        box-shadow: 1px 1px 8px 1px rgb(245,245,245);
        -webkit-box-shadow: 1px 1px 8px 1px rgb(245,245,245);
        -moz-box-shadow: 1px 1px 8px 1px rgb(245,245,245);
      }
    }
  }
}